@font-face {
    font-family: 'Gilam', sans-serif;
    src: url(../fonts/Gilam-Trial-Bold.woff2,);
    font-family: 'Gilam', sans-serif;
    src: url(../fonts/Gilam-Trial-Book.woff2);
    font-family: 'Gilam', sans-serif;
    src: url(../fonts/Gilam-Trial-Regular.woff2);
    font-family: 'Gilam', sans-serif;
    src: url(../fonts/Gilam-Trial-SemiBold.woff2);
    font-family: 'Circe', sans-serif;
    src: url(../fonts/Circe-Regular.woff2);
}

.header {
    padding: 46px 0;
    background-color: #171717;
}

.container {
    max-width: calc(1460px + 20px);
    margin: 0 auto;
    padding: 0 10px;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: inline-flex;
    align-items: center;
}

.nav__wrapp {
    display: flex;
    align-items: center;
    border: 1px solid#E4B564;
    text-align: center;
}

.phone {
    padding: 17px 25px;
    font-family: 'Circe', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #E4B564;
    display: inline-flex;
    align-items: center;
}

.phone-img {
    padding-right: 8px;
}

.heating__networks {
    padding: 81px 0 161px;
    background-color: #171717;
}

.heating__networks-title {
    font-family: 'Gilam', sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 41px;
}

.heating__networks-descr {
    font-family: 'Gilam', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: #fff;
    margin-bottom: 41px;
}

.heating__networks-wraper {
    display: grid;
    grid-template-columns: 467px 228px 239px 467px;
    grid-template-rows: repeat(2, 441px);
    gap: 27px 19px;
}

.heating__networks-item1,
.heating__networks-item2,
.heating__networks-item3,
.heating__networks-item4,
.heating__networks-item5 {
    font-family: 'Gilam', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    display: grid;
    justify-content: center;
    align-content: center;
}

.heating__networks-item1 {
    background-color: #634F2C;
    color: #fff;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.heating__networks-item2 {
    background-color: #B4A385;
    color: #fff;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.heating__networks-item3 {
    background-color: #E4B564;
    color: #fff;
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.heating__networks-item4 {
    background-color: #635A4A;
    color: #fff;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.heating__networks-item5 {
    background-color: #B08C4D;
    color: #fff;
    grid-column: 3 / 5;
    grid-row: 2 /3;
}

.technique {
    background-color: #171717;
    padding-bottom: 191px;
}

.technique__title {
    color: #fff;
    font-family: 'Gilam', sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 94px;
}

.technique__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 467px);
    grid-template-rows: 230px 33px 100px 126px 258px 0px;
    gap: 24px 30px;
}

.technique__item1,
.technique__item2,
.technique__item3,
.technique__item4,
.technique__item5,
.technique__item6,
.technique__item7 {
    font-family: 'Gilam', sans-serif;
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
    color: #fff;
    display: grid;

}

.technique__item-text-first,
.technique__item-text-second {
    font-weight: 700;
}

.technique__item1 {
    background-color: #0E0E0E;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.technique__item2 {
    background-color: #242424;
    grid-column: 2 / 3;
    grid-row: 1 / 4;
}

.technique__item3 {
    background-color: #1F1F1F;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.technique__item4 {
    background-color: #1F1F1F;
    grid-column: 1 / 2;
    grid-row: 3 / 7;
}

.technique__item5 {
    color: #000;
    background-color: #E4B564;
    grid-column: 2 / 3;
    grid-row: 4 / 6;
}

.technique__item6 {
    background-color: #0E0E0E;
    grid-column: 3 / 4;
    grid-row: 2 / 5;
}

.technique__item7 {
    background-color: #0A0909;
    grid-column: 3 / 4;
    grid-row: 5 / 7;
}

.technique__item-text {
    padding: 44px 0 0 50px;
}

.clients {
    padding-top: 172px;
    background-color: #0E0E0E;
}

.clients__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 61px;
}

.clients__title {
    color: #fff;
    font-family: 'Gilam', sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 28px;
}

.clients__btn {
    padding: 10px 40px;
    display: inline-flex;
    color: #E4B564;
    font-family: 'Circe', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    border: 1px solid#E4B564;
}

.clients__wrapp {
    display: grid;
    grid-template-columns: repeat(3, 487px);
    grid-template-rows: repeat(2, 391px);
}

.clients__item1,
.clients__item2,
.clients__item3,
.clients__item4,
.clients__item5,
.clients__item6 {
    display: flex;
    justify-content: center;
    align-items: center;
}


.clients__item1 {
    background-color: #634F2C;
}

.clients__img {
    width: 100%;
    max-width: 140px;
    margin: 0 auto;
}

.clients__item2 {
    background-color: rgba(232, 210, 171, 0.76);
    font-family: 'Gilam', sans-serif;
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    display: inline-flex;
    flex-direction: column;
}



.clients__item3 {
    background-color: #E4B564;
}

.clients__item4 {
    background-color: #635A4A;
}

.clients__item5 {
    background-color: #B08C4D;
}

.clients__item6 {
    background-color: #634F2C;
}

.clients__text,
.clients__adress {
    display: inline-block;
    font-family: 'Gilam', sans-serif;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
}

.clients__text {
    font-weight: 600;
}

.clients__adress {
    font-weight: 400;
}

.footer {
    padding-top: 239px;
    background-color: #171717;
}